.Editor{
    display: flex;
    gap: 10px;
}

.Editor select{
  border-radius: 5px;   
}
.Editor input{
    flex: 1;
    padding: 15px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
}

.Editor button{
    cursor: pointer;
    width: 80px;
    border: none;
    background-color: rgb(255, 211, 105);
    border-radius: 5px;
}
